{% extends "base.html" %}

{% block title %}
    | Home
{% endblock  %}


{% block content %}

{% load static %}
<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Welcome</h1>
            <p class="lead text-muted">
                Hello everyone my name is Kgalabi Mongatane I am Developer from South Africa!
                I build python web applications that effectively solve a client problems .
                I'm currently looking to contribute my skills to a team where I can prove mu skills
                while growing in my capacity.If you are looking for a competent ,
                highly-motivated developer,lets chat.You can reach me at tshepomongatane29@gmail.com

                <br> or you can check my account On GitHub , Link and Resume Above
            </p>

            <p>
                <a href="mailto:tshepomongatane29@gmail.com" class="btn btn-primary my-2">Email Me</a>
            </p>
            {% load static %}
            <img src="{% static 'jobs/kgalabi.jpg' %}" height="400" alt="my favorite picture">
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
               <h2 class="jumbotron-heading text-center">Projects</h2>
            <div class="row">
                {% for job in jobs %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            {% load static %}
                            <!--<img class="card-img-top" src="{{ job.image.url }}" alt="image job">-->
                            <div class="card-body">
                                <p class="card-text">{{ job.summary }}
                                </p>
                                <a href="{{job.link}}">Live Demo</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}